In [1]:
pwd

'C:\\Users\\kiels\\nafdac\\drug-dataset'

In [2]:
import pandas as pd
import numpy as np

In [15]:
drug = pd.read_excel('drug-2016-2020a.xlsx', index_col=0)

In [17]:
drug.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6236 entries, 0 to 6235
Data columns (total 34 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   PRODUCT NAME             6236 non-null   object
 1   NAFDAC                   6232 non-null   object
 2   BRAND                    5558 non-null   object
 3   GENERICS                 6228 non-null   object
 4   PRODUCT CATEGORY         5006 non-null   object
 5   PHARM CLASS              6196 non-null   object
 6   ROUTE OF ADMINISTRATION  6167 non-null   object
 7   GROUP                    6226 non-null   object
 8   ACTIVE ING               6236 non-null   object
 9   STRENGTH                 6100 non-null   object
 10  PRESENTATION             6210 non-null   object
 11  DOSAGE FORM              6228 non-null   object
 12  PACK SIZE                6224 non-null   object
 13  MARKETING CATEGORY       6235 non-null   object
 14  APPROVED INDICATION      6223 non-null   object
 15  NAME OF APPLICANT        6213 non-null   object
 16  TEL                      0 non-null      float64
 17  E-MAIL                   0 non-null      float64
 18  APPLICANT ADDRESS        6233 non-null   object
 19  COUNTRY                  6159 non-null   object
 20  NAME OF MANUFACTURER     6236 non-null   object
 21  TEL.1                    0 non-null      float64
 22  E-MAIL.1                 0 non-null      float64
 23  MANUFACTURER ADDRESS     6232 non-null   object
 24  COUNTRY.1                6121 non-null   object
 25  APPROVAL DATE            6236 non-null   object
 26  EXPIRY DATE              6236 non-null   object
 27  SF_USER_NAME             1903 non-null   object
 28  SF_DATE                  1904 non-null   object
 29  SF_PRINT                 1904 non-null   float64
 30  SF_EDIT                  0 non-null      float64
 31  ST_DONE                  0 non-null      float64
 32  SF_TYPE                  2889 non-null   object
 33  COLUMN1                  0 non-null      float64
dtypes: float64(8), object(26)
memory usage: 1.7+ MB

In [23]:
new_drug = drug.drop(drug.columns[[16,17,21,22,27,28,29,30,31,32,33]], axis=1)

In [24]:
new_drug.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6236 entries, 0 to 6235
Data columns (total 23 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   PRODUCT NAME             6236 non-null   object
 1   NAFDAC                   6232 non-null   object
 2   BRAND                    5558 non-null   object
 3   GENERICS                 6228 non-null   object
 4   PRODUCT CATEGORY         5006 non-null   object
 5   PHARM CLASS              6196 non-null   object
 6   ROUTE OF ADMINISTRATION  6167 non-null   object
 7   GROUP                    6226 non-null   object
 8   ACTIVE ING               6236 non-null   object
 9   STRENGTH                 6100 non-null   object
 10  PRESENTATION             6210 non-null   object
 11  DOSAGE FORM              6228 non-null   object
 12  PACK SIZE                6224 non-null   object
 13  MARKETING CATEGORY       6235 non-null   object
 14  APPROVED INDICATION      6223 non-null   object
 15  NAME OF APPLICANT        6213 non-null   object
 16  APPLICANT ADDRESS        6233 non-null   object
 17  COUNTRY                  6159 non-null   object
 18  NAME OF MANUFACTURER     6236 non-null   object
 19  MANUFACTURER ADDRESS     6232 non-null   object
 20  COUNTRY.1                6121 non-null   object
 21  APPROVAL DATE            6236 non-null   object
 22  EXPIRY DATE              6236 non-null   object
dtypes: object(23)
memory usage: 1.3+ MB

In [25]:
filter_newdrug = new_drug.dropna()

In [26]:
filter_newdrug.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4111 entries, 0 to 6235
Data columns (total 23 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   PRODUCT NAME             4111 non-null   object
 1   NAFDAC                   4111 non-null   object
 2   BRAND                    4111 non-null   object
 3   GENERICS                 4111 non-null   object
 4   PRODUCT CATEGORY         4111 non-null   object
 5   PHARM CLASS              4111 non-null   object
 6   ROUTE OF ADMINISTRATION  4111 non-null   object
 7   GROUP                    4111 non-null   object
 8   ACTIVE ING               4111 non-null   object
 9   STRENGTH                 4111 non-null   object
 10  PRESENTATION             4111 non-null   object
 11  DOSAGE FORM              4111 non-null   object
 12  PACK SIZE                4111 non-null   object
 13  MARKETING CATEGORY       4111 non-null   object
 14  APPROVED INDICATION      4111 non-null   object
 15  NAME OF APPLICANT        4111 non-null   object
 16  APPLICANT ADDRESS        4111 non-null   object
 17  COUNTRY                  4111 non-null   object
 18  NAME OF MANUFACTURER     4111 non-null   object
 19  MANUFACTURER ADDRESS     4111 non-null   object
 20  COUNTRY.1                4111 non-null   object
 21  APPROVAL DATE            4111 non-null   object
 22  EXPIRY DATE              4111 non-null   object
dtypes: object(23)
memory usage: 770.8+ KB

In [31]:
filter_newdrug.sample(random_state=4)

,PRODUCT NAME,NAFDAC,BRAND,GENERICS,PRODUCT CATEGORY,PHARM CLASS,ROUTE OF ADMINISTRATION,GROUP,ACTIVE ING,STRENGTH,...,MARKETING CATEGORY,APPROVED INDICATION,NAME OF APPLICANT,APPLICANT ADDRESS,COUNTRY,NAME OF MANUFACTURER,MANUFACTURER ADDRESS,COUNTRY.1,APPROVAL DATE,EXPIRY DATE
3282,DIOGOLYN COUGH SYRUP,A4-9277,DIOGOLYN,"CHLORPHENIRAMINE MALEATE, EPHEDRINE HCL, SODIU...",HUMAN DRUG,COUGH EXPECTORANT,ORAL,DRUG,"CHLORPHENIRAMINE MALEATE, EPHEDRINE HCL, SODIU...","2MG, 6MG, 49MG, 55MG, 2MG/ 5ML",...,OVER THE COUNTER,FOR RELIEF FROM COUGH,GAUZE PHARM LAB LTD,"ENU-IFITE, AWKA, ANAMBRA STATE",NIGERIA,GAUZE PHARM LAB LTD,"ENU-IFITE, AWKA, ANAMBRA STATE",NIGERIA,2019-02-09 00:00:00,2023-02-08 00:00:00